{% load staticfiles %}

<nav class = "navbar navbar-expand-lg navbar-dark sticky-top">
  <a class = "navbar-brand js-scroll-trigger com" href = "#"><span class = "ole">stoBooks</span></a>
  <button class="navbar-toggler" type ="button" data-toggle = "collapse" data-target="#navBarResponsive">
    <span class = "navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navBarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item js-scroll-trigger">
          <a class="nav-link js-scroll-trigger" href="#goto_section_two">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#goto_section_three">Sell</a>
        </li>
        <li class="nav-item main-nav">
          <a class="nav-link js-scroll-trigger" href="#">Sign in</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
      Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item js-scroll-trigger cd-signin" href="#0" data-toggle="modal" data-target="#exampleModal">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item js-scroll-trigger" href="#">Logout</a>
          </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search books">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
