{% extends 'stoBooks_app/base.html' %}
{% block content %}

      <div id = "search_background" style = "height: 100vh; color: white;">
        {%include 'stoBooks_app/front-navbar.html'%}
        <div class = "container">
          <div class = "row">
            <div class = "col-12">
              <h1 class = "display-4 text-center pt-4"><span class = "cursive">Welcome to</span> <br /><span class="display-3">stoBooks</span></h1>
              <p class = " text-center rob py-3">
                Textbook exchange made easy. <br /> Search it. Find it. Buy it.<br /> Repeat.
              </p>
            </div>
          </div>
          <div class = "row">
            <div class="col-12">
              <div class="input-group input-group-lg">
                <input id = "stoSearch" type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." onkeyup="searchBooks()">
                <span class="input-group-btn">
                  <button class="btn btn-warning" type="button">Find it</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
